{% load static %}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'app.css' %}">

    <!-- this block uses/import css from like index.html, post-detail.html etc -->
    {% block css_files %}{% endblock %}
    
</head>
<body>
<!-- since navigation is exactly same and present in the all pages so we put it in base.htlm -->
    <header id="main-navigation">
        <h1><a href="{% url 'starting-page' %}">Sanis' Blog</a></h1>
        <nav>
          <a href="{% url 'posts-page' %}">All Posts</a>
        </nav>
      </header>

    {% block content %}{% endblock %}
    
</body>
</html>