<!-- template inheritance -->

 <!-- making core/base/layout section -->

<!-- for global static(css files) -->
{% load static %}

 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{%block page_title%}Calenges123{%endblock%}</title>
    <!-- block enable injection of content; "Calenges" is default title; which will be used as fallback if no content is pass-in from the template which will inherite from this template; or we can leave this space empty -->

<!-- we can have both global as well specific css file injection in a single file here we added challenges2.css as specific and style.css as global css -->

   <!-- for global css -->
   <link rel="stylesheet" href="{% static 'style.css' %}">  

    <!-- for specific css; it comes from/link to other specific html files eg index2.html -->
   {% block css_files %}{% endblock %}

</head>

 <body>
   
    <h1>from base.html</h1>

   {%block content%}{%endblock%}

</body>
 </html>